@charset "UTF-8";

@font-face {
	font-family: "BoonTook Ultra";
	src: url(../fonts/woff2/BoonTook-Ultra.woff2) format("woff2"),
	url(../fonts/woff/BoonTook-Ultra.woff) format("woff"),
	url(../fonts/otf/BoonTook-Ultra.otf) format("otf");
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0;
	font-family: Leelawadee;
	font-size: 20px;
	min-height: 100vh;
}
body {
	border: 10px solid #FF5200;
	padding-bottom: 3em;
	min-height: 100vh;
}
img {
	user-drag: none;
	-webkit-user-drag: none;
}
hr {
	width: 80%;
	max-width: 500px;
	border: 5px solid #FF5200;
}
h1, h2, h3, h4, h5, h6 {
	font-family: "BoonTook Ultra";
}
h1 {
	font-size: 2em;
	margin-bottom: 0;
}
p {
	font-size: 1em;
	font-family: Maitree;
}
p.caption {
	text-align: center;
	border-top: 5px solid #77024D;
	color: #77024D;
	padding-top: 0.5em;
}
p.caption img {
	width: 1em;
	position: relative;
	top: 0.15em;
}
.textbox {
	margin: 2em auto;
	text-align: center;
}
.text-center {
	text-align: center;
}

.content {
	margin-top: 2em;
}

.title-wrap {
	padding: 3em 1em;
}
.title-wrap p {
	text-align: center;
	margin: 0;
}
h1.title {
	font-size: 4em;
	text-align: center;
	margin: 0;
}
h1 span, h2 span {
	color: #FF5200;
}
img.fullwidth {
	display: block;
	width: 100%;
}
img.img-center {
	display: block;
	margin: 0 auto;
	width: 100%;
}
img.ubuntu {
	max-width: 350px;
}
img.ubuntu.large {
	max-width: 603px;
}
img.win-xp {
	max-width: 568px;
}
img.win-10 {
	max-width: 539px;
}
video {
	width: 100%;
	margin-top: 2em;
}
a.button {
	display: block;
	width: 6em;
	padding: 1em;
	background: #FF5200;
	color: #fff;
	text-decoration: none;
	text-align: center;
}
a.button:hover {
	background: #C31207;
}
a.button.grey {
	background: #cecece;
	color: #000;
}
a.button.grey:hover {
	background: #adadad;
}
a.button.pulse {
	animation: pulse 0.7s infinite alternate;
}
.btn-group {
	margin: 1.5em auto 0;
	text-align: center;
}
.btn-group > a.button {
	display: inline-block;
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
	.content {
		margin-top: 1.4em;
	}
	.title-wrap {
		padding: 2em 0 1.8em;
	}
}
@media (max-width: 375px) {
	body {
		border-width: 6px;
	}
	.title-wrap {
		padding: 1.5em 0 1em;
	}
	.title-wrap p {
		font-size: 0.7em;
	}
	h1, h1.title {
		font-size: 1.5em;
	}
	h1.title {
		margin: 0.7em 0;
		line-height: 1em;
	}
	hr {
		border: 3px solid #FF5200;
	}
	.content {
		margin-top: 1.5em;
	}
}

/* ANIMATION */
@-webkit-keyframes pulse {
	from {background: #FF5200;}
	to {background: #C31207;}
}
@keyframes pulse {
	from {background: #FF5200;}
	to {background: #C31207;}
}